.container {
  height: initial !important;
}

.mdexp {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

ul li.md-paper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ac_padding {
  height: 120px;
}

.answer_section {
  background-color: rgb(254, 233, 181);
  padding: 8px;
  border-radius: 5px;
}
