.paper_content {
  color: rgb(230, 230, 230);
  text-align: center;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.bg_holder {
  margin-top: -15px;
  /*
  background: linear-gradient(0deg, url("/assets/splash.jpg")
  max-width: 768px;
  */

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(0, 0, 0, 1)
    ),
    url(/assets/splash.jpg);

  background-repeat: no-repeat;
  background-size: 100%;

  opacity: 0.8;

  z-index: 0; /* To make sur it's below the rest */
}

.alignRight {
  color: rgb(15, 106, 15);
  text-align: right;
}

.alignLeft {
  color: blue;
}
.title {
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}
.right_title {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.type_line {
  padding: 10px;
  text-align: left;
  color: rgb(228, 228, 228);
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 10px;
}

.spl_icon {
  color: black;
  font-size: xx-large;
}

.overlay_text {
  text-align: center;
  font-size: 1em;
  margin: 5px;
  padding: 10px;
}

.white_box {
  background: rgba(255, 255, 255, 0.85);
  padding: 5px;
  border-radius: 0px;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  max-width: 768px;
}

.learn_more {
  max-width: 768px;
}
.learn_more button {
  font-size: 1.5em;
  max-width: 768px;
  font-weight: bold;
}

.padder {
  height: 10px;
}

.blue_box {
  background: blue;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.blue_box button {
  color: white;
  font-weight: bold;
}

.iconLeft {
  padding-left: 10px;
}
