div.grid_container {
  max-width: 600px;
}

/*
section::after {
  content: "";
  flex-grow: 999999999;
}
div.imageHolder3 {
  margin: 2px;
  background-color: violet;
  position: relative;
}
*/
img.flex_img {
  margin: 4px;

  /*
  flex-grow: 1;
  object-fit: cover;
  margin: 2px;
  max-width: 100%;
  */
}
