div.grid_container {
  display: flex;
  flex-wrap: wrap;
}
section::after {
  content: "";
  flex-grow: 999999999;
}
div.imageHolder {
  margin: 2px;
  background-color: violet;
  position: relative;
}

img.flex_img {
  height: 230px;
  flex-grow: 1;
  object-fit: cover;
  margin: 2px;
  max-width: 100%;
}

.invisible {
  display: hidden;
}
