.pad_selected {
  background-color: rgb(238, 230, 242);
}

div.tile {
  margin: 5px;
}

div.md-tile-content {
  font-size: 2em;
}

.crashpad_select {
  background-color: rgb(234, 248, 254);
  border-radius: 5px;
}
